@import "tailwindcss";

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
body {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(135deg, #007cf0 0%, #00df70 100%);
}

